body{
    align-content:"center";
    background-color:white;
}
h2 
{
    color: white;
}
* 
{
    margin: 0;
    padding:0;
}

.display-4, .lead{
    text-align: center;
}

.my-3{
    background-color: white;
}
.col-sm-6{
    margin-top: 30px;
}
.card.tab1{
    background-color:#51087E; 
    color:white;
    margin-top:50px;
    padding-top: 30px;
    height: 500px;
}

.tagName
{
    height: 150%;
    width: 60%;
}

.comments
{
    height: 150%;
    width: 60%;
}

.button {
    background-color: #b82a2a;
    border-radius: 10px;
    border: 2px solid #F2AA4CFF;
    padding: 20px; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

form 
{
    margin-top:50px;
    text-align: center;
}

#fname 
{
    height: 120%;
    width: 50%;
}

.mainHeading
{
    margin-top: 50px; 
    font-family: 'Alegreya', serif;
   font-size: 400%;   
}
p
{
    font-size: 25px;
}


h4
{
    color: #000000;
    font-family: 'Cairo', sans-serif;
    font-size: 250%;
}

.row{
    text-align: center;

}



